# Local .terraform directories
**/.terraform/
**/.terraform.*

# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Ignore local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json